* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {  /* indicando  que a propriedade será herdada por todos os elementos dentro do header */
    margin: 44px 0 144px 76px;
}

.rodape {
    font-weight: 400;  /* tamanho  da fonte */
    font-size: 14px; /* tamanho   da letra */
    line-height: 21px; /* tamanho   da linha */
    cursor: pointer; 
    margin-right: 23px; /*  espaço da direita de cada um*/
    margin-top: 47px;
}

.button1 {
    background-color: #4CB538; 
    border: none; /* sem borda */
    width: 124px;  /* largura da btn */
    height: 51px;  /* altura da btn */ 
    border-radius: 20px;  /* arredondamento do canto da btn */
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    cursor: pointer;

}
.image1 {
    width: 595px; /* tamanho  da  imagem */
    height: 500px; /* tamanho  da altura*/
    display: inline-block; /* display  de bloco para a div ser inline com o texto */
    cursor: pointer; /*  muda o cursor do mouse quando passar por cima da img */
    margin-left: 125px;
}
section {
    display: inline-block;
    margin-left: 86px;
}

h1 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 47px;
}

p {
    font-weight: 400;
    font-size: 18px;
    width: 493px; /*  largura da area que fala sobre o produto para encaixar do aldo da imagem*/
    line-height: 33px;
}

.button2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #6FBF44;
    margin-top: 55px;
    margin-bottom: 140px;
    background: transparent;
    border: none;
    cursor: pointer;
}
